<!doctype html>
<html>
  <head>
    <!-- Remember to remove this comment! Username: admin Password: NOT THIS TIME HACKER!! -->
    <title>UiTHack 2019</title>
  </head>
  <body>
    <h1>UiTHack 2019 - the unicorn jar </h1>
    <div>
      {% if not session.logged_in %}
      <form action="{{ url_for('check_cookie') }}" method="get">
        <p>Would you like a snack?</p>
      </form>
      {% endif %}
      {% if not session.logged_in %}
      <p>You need to be logged in to view the sparkly <a href="{{ url_for('flag') }}">flag</a></p>
      {% else %}
      <p>You are logged in, get magnificent <a href="{{ url_for('flag') }}">flag</a></p>
      {% endif %}
    </div>
    {% if not session.logged_in %}
    <h2>Login</h2>
      {% if error %}
      <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    <form action="{{ url_for('login') }}" method="post">
      <dl>
        <dt>Username:
        <dd><input type="text" name="username">
        <dt>Password:
        <dd><input type="password" name="password">
        <dd><input type="submit" value="login">
      </dl>
    </form>
    {% endif %}
  </body>
</html>