<!DOCTYPE HTML>
<html lang = "en">
<head>
    <!-- Remember to remove this comment! Username: Admin Password: gunther milo birk -->
<link rel="stylesheet" type="text/css">
</head>
<body>
  <h1>Login to my secret page</h1>
  <form action="/secret_page" method="post">
      Username: <input type="text" name="username" maxlength="120" id="username"><br>
      Password: <input type="password" name="password" maxlength="120" id="password"><br>
    <button type="submit">login
    </form>
</body>

</html>