[Unit]
Description=UiTHack Web3 server
After=network.target

[Service]
Type=simple
User=unicorn
WorkingDirectory=/srv/web3/src
ExecStart=/home/unicorn/.local/bin/gunicorn -w 4 -b 0.0.0.0:9001 secret:app

[Install]
WantedBy=multi-user.target